<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Video
            <!--<small>Preview</small>-->
        </h1>
        <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <!--<h3 class="box-title">Quick Example</h3>-->
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form angular-validator-submit="addvideo()" name="signUpForm" class="form-horizontal" novalidate angular-validator>
                        <div class="box-body">
                            <div class="form-group">
                                <label >Title</label>
                                <input type="text"  placeholder="Title" name="title"
                                        validate-on="submission"
                                        class = "form-control"
                                        ng-model = "form.title"
                                        required-message="'Title cannot be blank.'"
                                        required>
                            </div>
                           <div class="form-group">
                               <label>Description</label>
                                <textarea class="form-control" ng-model = "form.description" rows="3" placeholder="Description"  style="resize:none;"></textarea>
                           </div>

                            <div class="form-group">
                                <label>Search Video</label>
                                <input type="text" class="form-control" ng-enter="youtubeSearch($event)" placeholder="Type To Search From Youtube" name="svideo" ng-model="form.svideo" validator = "videoValidator(form.videoId) === true" invalid-message = "videoValidator(form.videoId)">
                            </div>

                            <div ng-if="form.videoId" style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                                    <youtube-video class="embed-responsive-item" video-id="form.videoId"></youtube-video>
                            </div>


                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div><!-- /.box -->



            </div>

        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>


<script type="text/ng-template" id="videoList.html">
    <div class="modal-header">
        <h3 class="modal-title">Select Video</h3>
        <a href="javascript:void(0)" class="shutter-close2" ng-click="cancel()">X</a>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="c in vids">

                <div id="youtubeBody{{c.id.videoId}}" style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                    <!--<youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>-->
                    <img src="https://i.ytimg.com/vi/{{c.id.videoId}}/mqdefault.jpg" width="90%">
                    <div  class="paly_video"  ng-click="showYoutubevdo(c.id.videoId,c.id.videoId)" style="cursor:pointer;">Play Video</div>
                </div>
                <h1>{{c.snippet.title}}</h1>
                <a href="javascript:void(0)" ng-click="addYtVideo(c)" class="vidAddBtn">ADD</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>