
   
   
    <!--footer section-->
    
        <div class="container-fluid footermenublock">
        <div class="row">
          
    <div class="container">
    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 footerleft">
    <h2>Schedule Today</h2>
    <h3>We are dedicated to keeping you trained and mentally prepared.<br>

Your satisfaction is our highest priority and backed by our money back guarantee!</h3>
<a href="javascript:void(0)" class="footerjoinbtn">Join us Now</a>
    
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12 footerright">
    <a href="javascript:void(0)"><img src="images/ficon.png"></a>
    <a href="javascript:void(0)" ><img src="images/ticon.png"></a>
    <a href="javascript:void(0)" ><img src="images/gicon.png"></a>
    </div>
       <div class="clearfix"></div>
   
    </div>
    </div>
    
    </div>
    
    <div class="container-fluid footermenublock2">
        <div class="row">
          
    <div class="container">
    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12 footerleft2">
    &copy; 2016 Mental Marksmanship  
    </div>
    <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12 footerright2">
     <a href="javascript:void(0)">Privacy Policy</a> | <a href="javascript:void(0)">Disclaimer</a>
    </div>
       <div class="clearfix"></div>
   
    </div>
    </div>
    
    </div>
    
    <!-- end footer section-->
