      <div class="container-fluid land1a_bannerwrapper">
	<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img src="images/innerbanner1.png" alt="#">
        </div>
    </div>
</div>
<div class="container land1a_bannerbtm">
	<div class="row">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<h1>We teach you to make legal, <span>safe decisions</span><a href="javascript:void(0)" class="land1a_joinbtn">Join us Now</a></h1>
        </div>
    </div>
</div>
   
   
   <div class="container-fluid thankyoumainwrapper">
	<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
        <div class="tahnkyoutext">Thank you! Your account has been activated. <a ui-sref="login">Login Here!</a></div>
			
        </div>
    </div>
</div>
   
